<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script defer src="javascripts/jquery.min.js"></script>
    <script defer src="javascripts/bootstrap.min.js"></script>
    <script defer src="javascripts/core.js"></script>
</head>
<body>
    <% let deps = Object.keys(data) %>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Max">
                        <label class="mt-3" for="lastname">Lastname</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Mustermann">
                        <label class="mt-3" for="birthdate">Birthdate</label>
                        <input type="text" class="form-control" id="birthdate" placeholder="01-01-1991">
                        <label class="mt-3" for="department">Department</label>
                        <select id="department" class="custom-select">
                            <% for(let dep of deps) { %>  
                                <option value="<%= dep %>"><%= dep %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="add" data-dismiss="modal" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>


    <h1 class="mb-3">Manage</h1>
    <button class="btn btn-danger mb-3" data-toggle="modal" data-target="#addModal">Add</button>
    <button id="show" class="btn btn-danger mb-3 ml-3" >Show</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Fisrtname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Department</th>
          </tr>
        </thead>
        <tbody>
        <% for(let dep of deps) { %>
            <% for(let emp of data[dep]) {  %>
          <tr <% if(!emp.active) { %> class="disabled" <% } %> > 
            <td><%= emp.firstName %></td>
            <td><%= emp.lastName %></td>
            <td><%= emp.birthDate %></td>
            <td><%= dep %></td>
          </tr>
        <% }
        } %>
        </tbody>
      </table>
</body>
</html>