<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1><%= title %></h1>
    <p><%= sub %></p>
    <table>
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Realname</th>
                <th>Nationality</th>
            </tr>
        </thead>
        <tbody>
            <% for (hero of heroes) {%>
            <tr>
                <td><%= hero.name.nickName %></td>
                <td><%= hero.name.realName %></td>
                <td><%= hero.nationality %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <br>
    <form id="form">
        <label for="nickName">nickName: </label> <input name="nickName" type="text">  <br>
        <label for="realName">realName: </label> <input name="realName" type="text"> <br>
        <label for="nationality">nationality: </label> <input name="nationality" type="text"> <br>
        <label for="base">base: </label> <input name="base" type="text"></p>
        <button id="button" type="button">Hinzufügen</button>
    </form>

    <script src="/javascript/js.js"></script>
</body>
</html>